{% extends "base.html" %}

{% block title %}Create{% endblock %}

{% block headline %}Create a new blog post{% endblock %}

{% block main %}
<form id="create-entry-form" method="POST">
    <label for="title">Title</label>
    <div class="form-field">
        <input type="text" name="title" placeholder="Title" required>
    </div>

    <label for="body">Content</label>
    <div class="form-field">
        <textarea type="textarea" name="body" placeholder="Content" required></textarea>
    </div>

    <div class="form-submit">
        <button type="submit">Create blog post</button>
    </div>
</form>
{% endblock %}