{% extends "base.html" %}

{% block title %}Edit - {{ entry.title }}{% endblock %}

{% block headline %}Edit blog post - {{ entry.title }}{% endblock %}

{% block main %}
<form id="create-entry-form" method="POST">
    <label for="title">Title</label>
    <div class="form-field">
        <input type="text" name="title" placeholder="Title" value="{{ entry.title }}" required>
    </div>

    <label for="body">Content</label>
    <div class="form-field">
        <textarea type="textarea" name="body" placeholder="Content" required>{{ entry.body }}</textarea>
    </div>

    <div class="form-submit">
        <button type="submit">Update blog post</button>
    </div>
</form>
{% include "cancel.html" %}
{% endblock %}